{# templates/task/_delete_form.html.twig #}
<form method="post" action="{{ path('app_task_delete', {'id': task.id}) }}" onsubmit="return confirm('Você tem certeza que deseja deletar este item?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash"></i> Deletar</button>
</form>
