{# templates/task/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nova Tarefa{% endblock %}

{% block body %}
    <h1>Criar Nova Tarefa</h1>

    {{ include('task/_form.html.twig') }}

    <a href="{{ path('app_task_index') }}" class="btn btn-secondary mt-3"><i class="bi bi-arrow-left"></i> Voltar para a lista</a>
{% endblock %}
